<p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'sousMarque.tabPan' | translate}}"
          [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'sousMarque.tabPan' | translate}}">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'sousMarque.libelle' | translate}}<span style="color: red;">*</span></label>
                        <input class="mb-2 mr-2" type="text" pInputText
                               placeholder="{{'sousMarque.libelle' | translate}}" id="1" [(ngModel)]="item.libelle"
                               [ngClass]="{'ng-invalid ng-dirty' : !validSousMarqueLibelle}"/>
                        <small class='p-error' *ngIf='!validSousMarqueLibelle'>Libelle is obligatory.</small>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="2">{{'sousMarque.code' | translate}}<span style="color: red;">*</span></label>
                        <input class="mb-2 mr-2" type="text" pInputText placeholder="{{'sousMarque.code' | translate}}"
                               id="2" [(ngModel)]="item.code"
                               [ngClass]="{'ng-invalid ng-dirty' : !validSousMarqueCode}"/>
                        <small class='p-error' *ngIf='!validSousMarqueCode'>Code is obligatory.</small>
                    </div>


                    <div class="field col-11 md:col-6">
                        <label for="3">{{'sousMarque.marque' | translate}}</label>
                        <p-dropdown appendTo="body" [options]="marques" [(ngModel)]="item.marque" id="3" [filter]="true"
                                    filterMatchMode="contains"
                                    [showClear]="true" optionLabel="libelle"
                                    placeholder="{{'sousMarque.marque' | translate}}">
                        </p-dropdown>

                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="4">{{'sousMarque.statutSousMarque' | translate}}</label>
                        <p-dropdown appendTo="body" [options]="statutSousMarques" [(ngModel)]="item.statutSousMarque"
                                    id="4" [filter]="true" filterMatchMode="contains"
                                    [showClear]="true" optionLabel="libelle"
                                    placeholder="{{'sousMarque.statutSousMarque' | translate}}"
                                    [ngClass]="{'ng-invalid ng-dirty' : !validSousMarqueStatutSousMarque}">
                        </p-dropdown>
                        <small class='p-error' *ngIf='!validSousMarqueStatutSousMarque'>StatutSousMarque is
                            obligatory.</small>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="5">{{'sousMarque.prixVente' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="5" placeholder="{{'sousMarque.prixVente' | translate}}"
                                       [(ngModel)]="item.prixVente">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="6">{{'sousMarque.prixAchat' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="6" placeholder="{{'sousMarque.prixAchat' | translate}}"
                                       [(ngModel)]="item.prixAchat">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="7">{{'sousMarque.remarque' | translate}}</label>
                        <textarea id="7" pInputTextarea rows="5" cols="30"
                                  placeholder="{{'sousMarque.remarque' | translate}}" [(ngModel)]="item.remarque"
                        ></textarea>

                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button pButton pRipple label="{{'validate' | translate}}" icon="pi pi-check" (click)="save()"></button>


            <button pButton pRipple label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined"
                    (click)="hideCreateDialog()"></button>


        </div>
    </ng-template>

</p-dialog>
