    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'inventaireItem.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'inventaireItem.tabPan' | translate}}">
                        <div class="grid">

                                    <div class="field col-11 md:col-6">
                                        <label for="1">{{'inventaireItem.sousMarque' | translate}}<span style="color: red;">*</span></label>
                                        <p-dropdown  appendTo="body"  [options]="sousMarques" [(ngModel)]="item.sousMarque" id="1" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="libelle" placeholder="{{'inventaireItem.sousMarque' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validInventaireItemSousMarque}"  >
                                        </p-dropdown>
                                        <small class='p-error' *ngIf='!validInventaireItemSousMarque'>SousMarque est obligatoire.</small>
                                    </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'inventaireItem.quantiteAnticipe' | translate}}<span style="color: red;">*</span></label>
                                            <p-inputNumber class="mb-2 mr-2" id="2" placeholder="{{'inventaireItem.quantiteAnticipe' | translate}}" [(ngModel)]="item.quantiteAnticipe" [ngClass]="{'ng-invalid ng-dirty' : !validInventaireItemQuantiteAnticipe}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validInventaireItemQuantiteAnticipe'>QuantiteAnticipe est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'inventaireItem.quantiteReelle' | translate}}<span style="color: red;">*</span></label>
                                            <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'inventaireItem.quantiteReelle' | translate}}" [(ngModel)]="item.quantiteReelle" [ngClass]="{'ng-invalid ng-dirty' : !validInventaireItemQuantiteReelle}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validInventaireItemQuantiteReelle'>QuantiteReelle est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'inventaireItem.decalage' | translate}}<span style="color: red;">*</span></label>
                                            <p-inputNumber class="mb-2 mr-2" id="4" placeholder="{{'inventaireItem.decalage' | translate}}" [(ngModel)]="item.decalage" [ngClass]="{'ng-invalid ng-dirty' : !validInventaireItemDecalage}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validInventaireItemDecalage'>Decalage est obligatoire.</small>
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="5">{{'inventaireItem.inventaire' | translate}}<span style="color: red;">*</span></label>
                                        <p-dropdown  appendTo="body"  [options]="inventaires" [(ngModel)]="item.inventaire" id="5" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'inventaireItem.inventaire' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validInventaireItemInventaire}"  >
                                        </p-dropdown>
                                        <small class='p-error' *ngIf='!validInventaireItemInventaire'>Inventaire est obligatoire.</small>
                                    </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="6">{{'inventaireItem.remarque' | translate}}</label>
                                            <textarea id="6" pInputTextarea rows="5" cols="30" placeholder="{{'inventaireItem.remarque' | translate}}"  [(ngModel)]="item.remarque"
                                                       ></textarea>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
