    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'stock.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'stock.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'stock.description' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'stock.description' | translate}}" id="1" [(ngModel)]="item.description"
                                                    />
                                            
                                        </div>



                                    <div class="field col-11 md:col-6">
                                        <label for="2">{{'stock.sousMarque' | translate}}<span style="color: red;">*</span></label>
                                        <p-dropdown  appendTo="body"  [options]="sousMarques" [(ngModel)]="item.sousMarque" id="2" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="libelle" placeholder="{{'stock.sousMarque' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validStockSousMarque}"  >
                                        </p-dropdown>
                                        <small class='p-error' *ngIf='!validStockSousMarque'>SousMarque est obligatoire.</small>
                                    </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'stock.quantiteEligibleVente' | translate}}<span style="color: red;">*</span></label>
                                            <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'stock.quantiteEligibleVente' | translate}}" [(ngModel)]="item.quantiteEligibleVente" [ngClass]="{'ng-invalid ng-dirty' : !validStockQuantiteEligibleVente}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validStockQuantiteEligibleVente'>QuantiteEligibleVente est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'stock.quantiteNonEligibleVente' | translate}}<span style="color: red;">*</span></label>
                                            <p-inputNumber class="mb-2 mr-2" id="4" placeholder="{{'stock.quantiteNonEligibleVente' | translate}}" [(ngModel)]="item.quantiteNonEligibleVente" [ngClass]="{'ng-invalid ng-dirty' : !validStockQuantiteNonEligibleVente}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validStockQuantiteNonEligibleVente'>QuantiteNonEligibleVente est obligatoire.</small>
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="5">{{'stock.depot' | translate}}<span style="color: red;">*</span></label>
                                        <p-dropdown  appendTo="body"  [options]="depots" [(ngModel)]="item.depot" id="5" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="libelle" placeholder="{{'stock.depot' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validStockDepot}"  >
                                        </p-dropdown>
                                        <small class='p-error' *ngIf='!validStockDepot'>Depot est obligatoire.</small>
                                    </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
