
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'reglementVente.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'reglementVente.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'reglementVente.dateReglement' | translate}}</label>
                        <p-calendar id="1" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'reglementVente.dateReglement' | translate}}"  [ngModel]="item.dateReglement" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'reglementVente.modeReglement' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reglementVente.modeReglement' | translate}}" autofocus  id="2" [ngModel]="item.modeReglement?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'reglementVente.montant' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{{'reglementVente.montant' | translate}}" [ngModel]="item.montant"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'reglementVente.remarque' | translate}}</label>
                        <textarea id="4" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'reglementVente.remarque' | translate}}"  [ngModel]="item.remarque"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'reglementVente.vente' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reglementVente.vente' | translate}}" autofocus  id="5" [ngModel]="item.vente?.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'reglementVente.reglementVenteStatus' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reglementVente.reglementVenteStatus' | translate}}" autofocus  id="6" [ngModel]="item.reglementVenteStatus?.libelle">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



